/logs/
/temp/
*.pid
*.db
webserver_config.py
*.pyc
*.sh
*.out
*.cfg
airflow/.env
airflow/dags/accommodations.py
airflow/docker-compose.yaml
airflow/Dockerfile
airflow/logs/dag_id=s3_file_import_dag/run_id=manual__2024-07-24T04:57:34.180750+00:00/task_id=get_s3_data/attempt=1.log
airflow/logs/dag_id=s3_file_import_dag/run_id=manual__2024-07-24T04:57:34.180750+00:00/task_id=get_s3_data/attempt=2.log
airflow/logs/dag_id=s3_file_import_dag/run_id=manual__2024-07-24T05:07:04.027234+00:00/task_id=get_s3_data/attempt=1.log
airflow/logs/dag_id=s3_file_import_dag/run_id=manual__2024-07-24T05:07:04.027234+00:00/task_id=get_s3_data/attempt=2.log
airflow/logs/dag_id=s3_file_import_dag/run_id=manual__2024-07-24T06:52:30.704734+00:00/task_id=get_s3_data/attempt=1.log
airflow/logs/dag_id=s3_file_import_dag/run_id=manual__2024-07-24T06:57:47.581664+00:00/task_id=get_s3_data/attempt=1.log.SchedulerJob.log
airflow/logs/dag_id=s3_to_google_places_local/run_id=manual__2024-07-24T07:02:11.630737+00:00/task_id=process_locations/attempt=1.log
airflow/logs/dag_id=s3_to_google_places_local/run_id=manual__2024-07-24T07:06:21.076860+00:00/task_id=process_locations/attempt=1.log
airflow/logs/dag_id=s3_to_google_places_local/run_id=manual__2024-07-24T07:12:28.114882+00:00/task_id=process_locations/attempt=1.log
airflow/logs/dag_id=s3_to_google_places_local/run_id=manual__2024-07-24T07:20:32.181574+00:00/task_id=process_locations/attempt=1.log
airflow/logs/dag_id=s3_to_google_places_to_s3/run_id=manual__2024-07-24T08:14:01.991801+00:00/task_id=process_locations/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T05:19:57.754065+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T05:19:57.754065+00:00/task_id=transfer_csv_to_db/attempt=2.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T05:28:24.419457+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T05:31:30.712736+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T05:34:14.147444+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:01:02.174795+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:01:02.174795+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:05:55.882307+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:05:55.882307+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:05:55.882307+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:10:58.383887+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:10:58.383887+00:00/task_id=check_data/attempt=2.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:10:58.383887+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:10:58.383887+00:00/task_id=create_table/attempt=2.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:10:58.383887+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:10:58.383887+00:00/task_id=transfer_csv_to_db/attempt=2.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:12:28.079101+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:12:28.079101+00:00/task_id=check_data/attempt=2.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:12:28.079101+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:12:28.079101+00:00/task_id=create_table/attempt=2.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:12:28.079101+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:12:28.079101+00:00/task_id=transfer_csv_to_db/attempt=2.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:13:42.929753+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:13:42.929753+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:13:42.929753+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:15:03.988416+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:15:03.988416+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:15:03.988416+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:16:27.075347+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:16:27.075347+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:16:27.075347+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:18:01.801263+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:18:01.801263+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:18:01.801263+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:19:33.700206+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:19:33.700206+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:19:33.700206+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:20:25.708772+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:20:25.708772+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:20:25.708772+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:21:40.749129+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:21:40.749129+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:21:40.749129+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:23:01.147518+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:23:01.147518+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:23:01.147518+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:25:41.661343+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:25:41.661343+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:25:41.661343+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:27:50.260087+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:27:50.260087+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:27:50.260087+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:27:50.341776+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:27:50.341776+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:27:50.341776+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:29:51.825458+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:29:51.825458+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:29:51.825458+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:35:13.206191+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:35:13.206191+00:00/task_id=create_table/attempt=1.log.SchedulerJob.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:36:19.516161+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:36:19.516161+00:00/task_id=create_table/attempt=1.log.SchedulerJob.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:36:45.181455+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:36:45.181455+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:36:45.181455+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:38:21.828640+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:38:21.828640+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:38:21.828640+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:40:54.822441+00:00/task_id=check_data/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:40:54.822441+00:00/task_id=create_table/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:40:54.822441+00:00/task_id=transfer_csv_to_db/attempt=1.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:46:15.517552+00:00/task_id=create_table/attempt=1.log.SchedulerJob.log
airflow/logs/dag_id=s3_to_postgres_dag/run_id=manual__2024-07-24T06:48:00.045218+00:00/task_id=create_table/attempt=1.log.SchedulerJob.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_bash_decorator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_bash_operator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_branch_datetime_operator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_branch_day_of_week_operator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_branch_labels.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_branch_operator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_branch_operator_decorator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_branch_python_dop_operator_3.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_complex.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_dag_decorator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_datasets.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_display_name.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_dynamic_task_mapping.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_dynamic_task_mapping_with_no_taskflow_operators.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_external_task_marker_dag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_kubernetes_executor.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_latest_only.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_latest_only_with_trigger.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_local_kubernetes_executor.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_nested_branch_dag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_params_trigger_ui.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_params_ui_tutorial.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_passing_params_via_test_command.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_python_decorator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_python_operator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_sensor_decorator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_sensors.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_setup_teardown.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_setup_teardown_taskflow.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_short_circuit_decorator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_short_circuit_operator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_skip_dag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_sla_dag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_subdag_operator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_task_group.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_task_group_decorator.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_time_delta_sensor_async.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_trigger_controller_dag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_trigger_target_dag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_xcom.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/example_xcomargs.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/plugins/decreasing_priority_weight_strategy.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/plugins/event_listener.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/plugins/listener_plugin.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/plugins/workday.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/subdags/subdag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/tutorial.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/tutorial_dag.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/tutorial_objectstorage.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/tutorial_taskflow_api.py.log
airflow/logs/scheduler/2024-07-23/native_dags/example_dags/tutorial_taskflow_api_virtualenv.py.log
airflow/logs/scheduler/2024-07-24/accommodations.py.log
airflow/logs/scheduler/latest
README.md
