<!-- templates/maps/dashboard.html -->
{% extends 'maps/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div style="float: left; width: 100%; padding: 10px;">
<h2>세계 다양한 행사에 대한 여행 정보를 제공합니다.</h2>
<p>행사리스트, 항공권, 숙박, 맛집 정보 제공.</p>
</div>
<br>

<div style="float: left; width: 100%; padding: 10px;">
<h2>인기 있는 이벤트 TOP 3</h2>
</div>
    {% for event in top_events %}
    <div style="float: left; width: 33.33%; padding: 30px;">
        <!-- 이 곳에 event 상세 정보 넣기 -->
            <div style="margin-bottom: 20px;">
                <h3>{{ event.Title }}</h3>
                <p><strong>Category:</strong> {{ event.Category }}</p>
                <p><strong>Date:</strong> {{ event.Date }}</p>
                <p><strong>Country:</strong> {{ event.Country }}</p>
                <p>{{ event.Description }}</p>
            </div>

    </div>
    {% endfor %}
<br>

<div style="float: left; width: 100%; padding: 10px;">
<h2>Event가 많은 국가는?</h2>
</div>
{% endblock %}

