{% extends 'maps/base.html' %}
{% load static %}

{% load custom_filters %}
{% block title %}Event Detail - {{ event.Title }}{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <div class="card mt-4">
        <div class="card-header">
            <h2>{{ event.Title }}</h2>
        </div>
        <div class="card-body">
            <p><strong>행사 설명:</strong> {{ event.Description }}</p>
            <p><strong>카테고리:</strong> {{ event.Category }}</p>
            <p><strong>이벤트 시작일:</strong> {{ event.TimeStart|format_date_str }}</p>
            <p><strong>이벤트 종료일:</strong> {{ event.TimeEnd|format_date_str }}</p>
            <p><strong>개최 장소:</strong> {{ event.Address }}</p>
            <p><strong>예상 참가자 수:</strong> {{ event.PhqAttendance }}</p>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            인천국제공항(ICN) -> {{ nearest_airport.airport_name }}({{ nearest_airport.airport_code }}) {{ flight_state }}
        </div>
        <div class="card-body">
            <table class="table table-striped datatablesSimple">
                <thead>
                    <tr>
                        <th>항공사</th>
                        <th>출발 시간</th>
                        <th>도착 시간</th>
                        <th>소요 시간</th>
                        <th>예약 가능한 좌석</th>
                        <th>평균 가격 (원)</th>
                        <th>예약 링크 (Skyscanner)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in flight_to %}
                    <tr>
                        <td>{{ f.airline_name }}({{ f.airline_code }})</td>
                        <td>{{ f.departure_at|format_date }}</td>
                        <td>{{ f.arrival_at|format_date }}</td>
                        <td>{{ f.duration }}</td>
                        <td>{{ f.seats }}</td>
                        <td>{{ f.price }}</td>
                        <td>
                            <button class="btn btn-primary" onclick="window.open('https://www.skyscanner.co.kr/transport/flights/{{ f.departure }}/{{ f.arrival }}/{{ f.departure_date }}/?adults=1&airlines={{ f.airline_code }}&departure-times={{ f.departure_min }}-{{ f.departure_min }}&preferdirects=true')">예약 링크</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            {{ nearest_airport.airport_name }}({{ nearest_airport.airport_code }}) -> 인천국제공항(ICN) {{ flight_state }}
        </div>
        <div class="card-body">
            <table class="table table-striped datatablesSimple">
                <thead>
                    <tr>
                        <th>항공사</th>
                        <th>출발 시간</th>
                        <th>도착 시간</th>
                        <th>소요 시간</th>
                        <th>예약 가능한 좌석</th>
                        <th>평균 가격 (원)</th>
                        <th>예약 링크 (Skyscanner)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in flight_from %}
                    <tr>
                        <td>{{ f.airline_name }}({{ f.airline_code }})</td>
                        <td>{{ f.departure_at|format_date }}</td>
                        <td>{{ f.arrival_at|format_date }}</td>
                        <td>{{ f.duration }}</td>
                        <td>{{ f.seats }}</td>
                        <td>{{ f.price }}</td>
                        <td>
                            <button class="btn btn-primary" onclick="window.open('https://www.skyscanner.co.kr/transport/flights/{{ f.departure }}/{{ f.arrival }}/{{ f.departure_date }}/?adults=1&airlines={{ f.airline_code }}&departure-times={{ f.departure_min }}-{{ f.departure_min }}&preferdirects=true')">예약 링크</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h2>근처 숙소 정보</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped datatablesSimple">
                <thead>
                    <tr>
                        <th scope="col">숙소 이름</th>
                        <th scope="col">평점</th>
                        <th scope="col">총합 리뷰수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hotel in hotel_list %}
                    <tr>
                        <td>
                            <a class="nav-link" href="{% url 'hotel_detail' hotel_name=hotel.google_name %}">{{ hotel.google_name }}</a>
                        </td>
                        <td>{{ hotel.google_rating }}</td>
                        <td>{{ hotel.google_user_ratings_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h2>근처 카페, 레스토랑</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped datatablesSimple">
                <thead>
                    <tr>
                        <th scope="col">가게명</th>
                        <th scope="col">분류</th>
                        <th scope="col">평점</th>
                        <th scope="col">주소</th>
                        <th scope="col">리뷰수</th>
                        <th scope="col">리뷰</th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in place_cafe_resturant %}
                    <tr>
                        <td>{{ place.place_name }}</td>
                        <td>{{ place.types }}</td>
                        <td>{{ place.rating }}</td>
                        <td>{{ place.address }}</td>
                        <td>{{ place.number_of_reviews }}</td>
                        <td>{{ place.review }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="{% static 'maps/js/datatables-simple-demo.js' %}"></script>

<style>
    .card h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .card p, .card td, .card th {
        margin-bottom: 10px;
        line-height: 1.6;
    }
    .card strong {
        font-weight: bold;
    }
    .table td, .table th {
        vertical-align: middle;
    }
</style>
{% endblock %}
